html {
  margin: 0;
  padding:0; 
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #3c403d;
  background-color: #DADED4;
}

h1, h2 {
  text-transform: uppercase;
  margin: 30px auto;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.list-main-container {
  flex-grow: 1;
  width: 80%;
}

.list-item {
  width: 100%;
  background-color: #ffffff;
  border-radius: .25rem;
  border: 1px solid #ced4da;
}

.list-item-innerbox {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

.list-item-img-container {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.list-item-img-container > img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: .25rem;
}

.list-item-names {
  flex-grow: 1;
}

.list-item-headline {
  color: #39603d;
}

.list-item-paragraph {
  font-size: .8rem;
  color: #a3bcb6;
}

.list-item-date {
  color: #f1b249;
}

.list-item-arrow {
  color: #a3bcb6;
}

.user-profile-image {
  height: 100px;
}

.home-icons {
  height: 200px;
}

a:hover, a:visited {
  text-decoration: none;
}