html {
  margin: 0;
  padding:0; 
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #3C403D;
  background-color: #daded4;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.list-main-container {
  flex-grow: 1;
  width: 80%;
}

.list-item {
  width: 100%;
  background-color: #ffffff;
}

.user-profile-image {
  height: 100px;
}

.home-icons {
  height: 200px;
}

.searchbar-icon {
  height: 20px;
}

h1, h2 {
  text-transform: uppercase;
}