html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #3c403d;
  background-color: #daded4;
}

h1,
h2 {
  text-transform: uppercase;
  margin: 30px auto;
}

h4,
h5 {
  font-weight: 500;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.form-group {
  margin: 20px;
}

.plant-edit-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 30px;
  /* flex-grow: 1; */
  color: #3c403d;
}

.list-main-container {
  flex-grow: 1;
  width: 80%;
}

.details-list-main-container {
  flex-grow: 1;
  width: 100%;
}

.list-item {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

.list-item-innerbox {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

.list-item-img-container {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.list-item-img-container > img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 0.25rem;
}

.list-item-names {
  flex-grow: 1;
}

.green-headline {
  color: #39603d;
}

.yellow-headline {
  color: #f1b249;
}

/* .list-item-headline,
.reminder-header, .plant-headline {
  color: #39603d;
} */

.list-item-paragraph {
  font-size: 0.9rem;
  color: #a3bcb6;
}

.list-item-date,
.reminder-date {
  color: #f1b249;
}

.list-item-arrow {
  color: #a3bcb6;
}

.user-profile-image {
  height: 200px;
  width: auto;
  margin: 10px;
  border-radius: 50%;
}

.home-main-container {
  flex-grow: 1;
  width: 80%;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-headline {
  color: #a3bcb6;
  margin-top: 10px;
}

.home-icons {
  height: 75px;
}

hr {
  border: 1px solid #3c403d;
  width: 5%;
}

.orange-hr {
  border: 1px solid #f1b249;
  width: 15%;
}

a:hover,
a:visited {
  text-decoration: none;
  color: #39603d;
}

.green-link {
  color: #39603d;
}

.nav-container {
  width: 84%;
}

footer > p > img {
  height: 24px;
}

.transparent-icon {
  height: 200px;
  opacity: 0.17;
}

.single-reminder-container {
  flex-grow: 1;
  width: 80%;
}

.single-reminder-innerbox {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-reminder-img-container > img {
  width: 80px;
  height: 80px;
}

.btn-outline-dark {
  border-color: #3c403d !important;
}

.btn-outline-dark:hover {
  background-color: #3c403d !important;
}

.btn-primary {
  background-color: #a3bcb6 !important;
  border-color: #a3bcb6 !important;
}

.btn-danger {
  background-color: #f1b249 !important;
  border-color: #f1b249 !important;
}

.btn-outline-secondary {
  border-color: #39603d;
}

.btn-outline-secondary:hover {
  background-color: #39603d;
}

.buttons-container > button {
  margin: 10px;
}

.plantImg {
  width: 180px;
  height: 180px;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  height: 430px;
  margin: 20px;
  padding: 16px;
  background-color: white;
  border-radius: .25rem;
}
.signup-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://res.cloudinary.com/sagacity/image/upload/c_crop,h_4204,w_5946,x_0,y_0/c_limit,dpr_auto,f_auto,fl_lossy,q_80,w_1080/shutterstock_1120425188_xkrkev.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .25rem;
  width: 100%;
  flex-grow: 1;
}

.mdb-select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #aaa;
  color: rgb(118, 118, 118);
}

.reminder-container {
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 30px;
  text-align: center;
}

.single-plant-container {
  flex-grow: 1;
  width: 80%;
}

.single-plant-innerbox,
.trefle-plant-info-innerbox {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notes-paragraph {
  width: 100%;
}

.notes-paragraph > p {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  text-align: left;
}

.buttons-group {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}

.plant-details-btn {
  flex-grow: 1;
}

.plant-details-btn.active {
  background-color: #3c403d !important;
}

.no-radius-right {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.no-borders-btn {
  border-left: none;
  border-right: none;
}

.no-radius-left {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.welcome-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  text-align: left;
}

.tr-color {
  background-color: #daded4;
}

.trefle-growth-notes > p {
  text-align: left;
  font-size: 0.8rem;
}

.trefle-distribution,
.trefle-names,
.trefle-plant-growth {
  width: 84%;
}

.distribution-countries > li {
  text-align: left;
}

.img-fluid {
  border-radius: 0.25rem !important;
}

.spinner-border {
  margin: 20px auto;
}

.white-text {
  color: #ffffff !important;
}

.single-user-container {
  flex-grow: 1;
  width: 80%;
}

.single-user-innerbox {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
